# training
seed: 42
epochs: 1000
lr: 1e-3
viz_every: 200
project_root: "/home/minsukc/SIO" # TODO: Change accordingly
out_dir: "runs/debug"
exp_name: "exp1_ct_head"
wandb_project: "Single-Image-Optimization"

# data
image_path: "data/ct_chest_1.jpeg" # grayscale PNG or JPG
normalize_to: "0_1" # "0_1" or "-1_1"

# tcnn config
hash:
  encoding_config:
    otype: "Grid"
    type: "Hash"
    n_levels: 12
    n_features_per_level: 4
    log2_hashmap_size: 21
    base_resolution: 16
    per_level_scale: 1.5
    interpolation: "Linear"
  network_config:
    otype: "FullyFusedMLP"
    activation: "ReLU"
    output_activation: "None"
    n_neurons: 128
    n_hidden_layers: 2

# augmentation
augment:
  prob_translation: 1
  translation_px_max: 4

  prob_gaussian: 1
  gaussian_sigma: 0.3
  gaussian_mean: 0.1

  prob_speckle: 0.0
  speckle_sigma: 0.05
  speckle_mean: 0.02

  prob_poisson: 0.0
  poisson_scale: 10.0 # photon count scaling (higher = less noise)
  poisson_bias: 0.05

  prob_saltpepper: 0.0
  saltpepper_prob: 0.05 # fraction of corrupted pixels
  saltpepper_low: 0.0 # black pixels (pepper)
  saltpepper_high: 1.0 # white pixels (salt)

# losses and weights
loss:
  pixel: l1
  pixel_weight: 1.0
  ssim_weight: 0.0
  ssim_window: 11
  lpips_weight: 0.0
  chess_weight: 0.5
  # chess_ckpt: "/home/sincheol/SingleImageINR/CheSS.pth.tar"
  chess_ckpt: "CheSS.pth.tar"
  dino_weight: 0.0
  dino_structure_weight: 0.0
