 # training
seed: 42
epochs: 2000
# lr: 1e-3
lr: 3e-4
project_root: "/home/minsukc/SIO" # NOTE: Change accordingly
out_dir: "runs/debug"
exp_name: "exp"
wandb_project: "Single-Image-Optimization"

viz:
    viz_every: 200
    correspondence: True

# data
# image_path: "/home/minsukc/SIO/data/ct_chest_1.jpeg"
# image_path: "/home/minsukc/SIO/data/ct_chest_1_resized_512x451.jpeg" 
# image_path: "/home/minsukc/SIO/data/ct_chest_1_resized_1024x902.jpeg"
# image_path: "/home/minsukc/SIO/data/ct_chest_1_resized_1024x902.jpeg"
image_path: "/home/minsukc/SIO/data/ct_chest_2_resized_1024x1024.png" 
normalize_to: "0_1" # "0_1" or "-1_1"

# tcnn config
hash:
  encoding_config:
    otype: "Grid"
    type: "Hash"
    n_levels: 12
    n_features_per_level: 4
    log2_hashmap_size: 20
    base_resolution: 16
    per_level_scale: 1.5
    interpolation: "Linear"
  network_config:
    otype: "FullyFusedMLP"
    activation: "ReLU"
    output_activation: "None"
    n_neurons: 128
    n_hidden_layers: 2

# augmentation
augment:
  # --- Spatial Augmentations ---
  # (Applied first, in this order)
  
  # Rotation
  prob_rotation: 0.0          
  rotation_deg_max: 15     
  
  # Shear (Linear Deformation)
  prob_shear: 0.0            
  shear_factor_max: 0.1    
  
  # Nonlinear Warping
  prob_warp: 0.0       
  warp_scale: 0.1         
  warp_resolution: 16       
  
  # Translation (applied last)
  prob_translation: 1.0      
  # translation_px_max: 50
  translation_px_max: 32
  # translation_px_max: 30
  # translation_px_max: 15
  

  # --- Noise Augmentations ---
  # (Applied after spatial augmentations)
  prob_gaussian: 0
  gaussian_sigma: 0.3
  gaussian_mean: 0.1

  prob_speckle: 0.0
  speckle_sigma: 0.05
  speckle_mean: 0.02  

  prob_poisson: 0.0
  poisson_scale: 10.0
  poisson_bias: 0.05

  prob_saltpepper: 0.0
  saltpepper_prob: 0.05    
  saltpepper_low: 0.0
  saltpepper_high: 1.0

# losses and weights
loss:
  pixel: l1
  pixel_weight: 1.0
  # pixel_weight: 0.0
  # SSIM
  ssim_weight: 0.0
  ssim_window: 11
  # LPIPS
  lpips_weight: 0.0
  # CheSS
  chess_weight: 0.0
  chess_ckpt: "/home/minsukc/SIO/CheSS.pth.tar"
  # DINOv3
  dino_weight: 0.0
  # dino_weight: 1.0
  # dino_weight: 1000.0
  dino_model: "facebook/dinov3-vitb16-pretrain-lvd1689m"
  dino_structure_weight: 0.0
  # SAMv2
  sam_weight: 0.0
  sam_model: "facebook/sam2.1-hiera-small"
  sam_layer: 10  # which hidden layer to use

  # Correspondence loss
  # corr_weight: 1.0
  # correspondence_weight: 0.5
  correspondence_weight: 0.0
  # corr_model: "facebook/dinov3-vits16-pretrain-lvd1689m"
  # corr_model: "facebook/dinov3-vits16plus-pretrain-lvd1689m"
  corr_model: "facebook/dinov3-vitb16-pretrain-lvd1689m"
  # corr_model: "facebook/sam2.1-hiera-small"
  corr_dino_layer: -1       # or -3
  # corr_layer: -3
  
  corr_pixel_weight: 1.0
  # corr_pixel_weight: 0.0
  # corr_search_r: null
  corr_search_r: 10
  

